.modal-content {
  background: #ffffff;
  color: #333;
  padding: 20px;
  border-radius: 16px;
}

.carousel-inner img {
  object-fit: cover;
  height: 400px;
}

.modal-header .btn-close {
  background-color: #ccc;
}
