* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;

}



.custom-navbar {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 8px;
  margin-bottom: 20px;
}

.navbar-brand {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar-nav .nav-link {
  color: #dcdcdc;
  margin: 0 10px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  position: relative;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
  height: 2px;
  background-color: #00f2fe;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar-nav .nav-link:hover::after {
  width: 80%;
}

.navbar-nav .nav-link.active {
  color: #00f2fe !important;
  font-weight: 600;
}

.btn-glow {
  color: #fff;
  background-color: transparent;
  border: 2px solid #00f2fe;
  transition: all 0.3s ease;
  border-radius: 30px;
  padding: 6px 16px;
}

.btn-glow:hover {
  background-color: #00f2fe;
  color: #fff;
  box-shadow: 0 0 5px #00f2fe, 0 0 10px #00f2fe;
}
